.bannerButton {
    /* margin-bottom: 100px; */
    padding: 40px;

    flex-wrap: wrap;

    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    gap: 1.5rem;

    z-index: 3;
}

.searchNow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;

    background: #6246ea;
    border-color: transparent;
    border-radius: 5px;

    color: #fffffe;
}
